<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!--APP_CSS_fontello-->
    <!--APP_CSS_animation-->

    <meta name="channel_id" content="8799" />
    <meta name="art_id" content="5480715" />
    <meta name="api_domain" content="//interactive.udn.com" />
    <style>
      * {
        box-sizing: border-box;
      }
      html,
      body {
        padding: 0;
        margin: 0;
      }

      .container {
        padding: 40px;
        max-width: 680px;
        width: 100%;
        margin: 0 auto;
   
        background: var(--bg);
      }
    </style>
    
  </head>

  <body>

    <!--APP_CSS_udn-discuss-->

    <section id="discussApp" class="discuss-board">
      <div class="container">
        
        <div id="comments_body" :class="{'rules-open': rulesOpen}" :data-sort="sortType"  v-cloak>

          <header class="context-box__header">
            <h3 class="context-box__title">評論</h3>
          </header>
        
          <div class="input-field">
            <textarea :disabled="postState !== 'idle'" v-model="postText" aria-label="comment-textarea" cols="45" rows="5" maxlength="500"
              class="discuss-board__textarea" placeholder="500字以內"></textarea>
      
            <div class="discuss-board__tools">
              <span class="btn btn-lg btn--selection rules-toggler" @click="rulesToggler" :class="{'btn--selection-open': rulesOpen}">規範 <i class="i-arrow6-down"></i></span>
              <button class="btn btn-ripple btn-comment--post btn-red" @click="postDiscuss" aria-label="post" :data-state="postState">發布</button>
            </div>
        
      
            <div class="discuss-board__rules">
              <ul style="font-size:larger">
                <li>張貼文章或下標籤，不得有違法或侵害他人權益之言論，違者應自負法律責任。</li>
                <li>對於明知不實或過度情緒謾罵之言論，經網友檢舉或本網站發現，聯合報有權逕予刪除文章、停權或解除會員資格。不同意上述規範者，請勿張貼文章。</li>
                <li>對於無意義、與本文無關、明知不實、謾罵之標籤，聯合報有權逕予刪除標籤、停權或解除會員資格。不同意上述規範者，請勿下標籤。</li>
                <li>凡「暱稱」涉及謾罵、髒話穢言、侵害他人權利，聯合報有權逕予刪除發言文章、停權或解除會員資格。不同意上述規範者，請勿張貼文章。</li>
              </ul>
            </div>
          </div>
      
          <header class="discuss-board__header">
            <div class="discuss-board__total">全部評論 (<span class="rr-no">{{total}}</span>)</div>
            <button class="btn btn-lg btn--selection" :class="{'btn--selection-open': sortBox}" @click="toggleSort">排序方式 <i class="i-arrow6-down"></i></button>
            <div class="sort-box" :class="{'sort-box--open': sortBox}">
              <span class="sort-box__btn btn list-ellipsis" :class="{'active': sortType === 'popular'}" @click="sortDiscuss('popular')">按讚最多</span>
              <span class="sort-box__btn btn list-ellipsis" :class="{'active': sortType === 'comment'}" @click="sortDiscuss('comment')">最多回覆</span>
              <span class="sort-box__btn btn list-ellipsis" :class="{'active': sortType === 'newest'}" @click="sortDiscuss('newest')">新到舊　</span>
              <span class="sort-box__btn btn list-ellipsis" :class="{'active': sortType === 'oldest'}" @click="sortDiscuss('oldest')">舊到新　</span>
  
  
            </div>
          </header>
      
          <div class="discuss-board__content" :class="{'discuss-board__content--loading': isLoading}">
            
            <!-- by list -->
       
            <section class="discuss-board__list" v-for="(discuss, index) in lists" :key="discuss.id">
      
              <rr-discuss :discuss="discuss" @reply="receiveReply($event)" can_reply="1" @delete-post="filterReply"></rr-discuss>
       
              <div class="discuss-details__reply">
                <rr-discuss :discuss="reply" can_reply="0" v-for="reply in discuss.replies" :key="reply.id" @delete-post="filterReply"></rr-discuss>
                <span class="btn btn--reply" v-if="discuss.total_reply > discuss.replies.length && !discuss.is_reply_end" @click="loadReply(discuss)" :data-state="discuss.loadReply"><i class="i-follow"></i>看更多回覆</span>
              </div>
            </section>
      
      
      
          </div>
      
      
          <div class="btn-holder btn-holder--center" v-if="!isEnd">
            <button class="btn btn-ripple btn-more" @click="getComment" :data-state="(isLoading) ? 'loading': 'idle'" aria-label="more-comment"
              data-id="more-comment">More <i class="i-arrow5-down"></i></button>
          </div>
      
        </div>
      </div>
    </section>

      <!--APP_JS_udn-discuss.bundle-->

    <script src="file:///android_asset/udn-discuss.bundle.js"></script>

  </body>
</html>
