.btn {
  cursor: pointer;
  line-height: 1.25;
  font-size: 15px;
  padding: 0 10px;
  text-align: center;
  border: 0;
  outline: 0;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s linear, border 0.3s linear, opacity 0.3s linear, padding 0.3s linear;
  transition: background-color 0.3s ease-in-out, color 0.3s linear, border 0.3s linear, opacity 0.3s linear, padding 0.3s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.btn[data-state='loading'] {
  position: relative;
  cursor: not-allowed;
}
.btn[data-state='loading']::before,
.btn[data-state='loading']::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: transparent;
  margin-top: 0;
  visibility: visible;
}
.btn[data-state='loading']::before {
  background: #c7c7c7;
  content: '';
}
.btn[data-state='loading']::after {
  content: '\E834';
  font-family: 'fontello';
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}
.btn.is-active {
  color: #cb2529;
  color: var(--widget-main-color);
}
.btn--selection {
  padding: 0;
  font-weight: 200;
  background: transparent;
}
.btn--selection i {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  display: inline-block;
  color: #cb2529;
  color: var(--widget-main-color);
}
.btn--selection i::before {
  margin: 0;
}
.btn--selection-open.btn--selection i {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}
.btn-lg {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .btn-lg {
    font-size: 16px;
  }
}
.btn-more {
  padding: 12px 40px;
  overflow: hidden;
  background: #c6c6c6;
  color: #fff;
  width: 100%;
  text-decoration: none;
}
.btn-more .i-arrow5-down::after {
  margin-right: 0;
}
.btn-more i {
  pointer-events: none;
  width: 18px;
}
.btn-more[data-state='finished'],
.btn-more[data-state='fetching'] {
  display: none;
}
.btn-more[data-state='loading'] {
  opacity: 0.7;
}
.btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.btn-holder--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.btn-holder--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn-holder .btn-more {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.btn-red {
  background: #cb2529;
  background: var(--widget-main-color);
  color: #fff;
}
.btn-blue {
  background: #579fd4;
  color: #fff;
}
.btn-grey {
  background: #c0bfbd;
  color: #fff;
}
.btn-dark-grey {
  background: #707070;
}
.btn-border {
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  padding: 5px 10px;
}
.btn-border--blue {
  color: #579fd4;
  border-color: #579fd4;
}
.btn-border--blue:visited {
  color: #579fd4;
  opacity: 0.9;
}
.btn-border--blue:hover {
  color: #cb2529;
  color: var(--widget-main-color);
  border-color: #cb2529;
  border-color: var(--widget-main-color);
}
@-webkit-keyframes ripple-animation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes ripple-animation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.udn-box {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-transition: -webkit-backdrop-filter 0.2s ease-in;
  transition: -webkit-backdrop-filter 0.2s ease-in;
  transition: backdrop-filter 0.2s ease-in;
  transition: backdrop-filter 0.2s ease-in, -webkit-backdrop-filter 0.2s ease-in;
  font-family: font-family Arial, '微軟正黑體', 'Microsoft JhengHei', 'LiHei Pro';
}
.udn-box .btn-box {
  padding: 5px 20px;
  font-size: 14px;
  margin: 0 5px;
}
.alert-open .udn-box {
  z-index: 12;
  opacity: 1;
  visibility: visible;
  -webkit-backdrop-filter: blur(2px) opacity(0.7);
          backdrop-filter: blur(2px) opacity(0.7);
}
.udn-box__title {
  font-size: 22px;
  text-align: center;
  margin: 0 0 20px;
  line-height: 1;
}
.udn-box__content {
  font-size: 15px;
  text-align: center;
  margin: 0 0 20px;
}
.udn-box__content .icon {
  display: block;
  margin: 0 auto;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.udn-box__container {
  width: 350px;
  max-width: calc(100% - 20px);
  background: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
}
.notifier-container {
  z-index: 999;
  position: fixed;
  bottom: 4px;
  right: 4px;
  padding: 4px;
  width: 300px;
  max-width: 98%;
  font-family: '黑體-繁', 'Apple LiGothic Medium', 'PingFang', '微軟正黑體', 'Microsoft JhengHei', 'WenQuanYi Zen Hei', helvetica, Arial, sans-serif;
}
.notifier {
  position: relative;
  width: 100%;
  min-height: 62px;
  margin-bottom: 12px;
  padding: 8px;
  background: #fff;
  color: #000;
  border-left: 4px solid #cb2529;
  border-left: 4px solid var(--widget-main-color);
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1), 0 2px 15px 0 rgba(0,0,0,0.05);
          box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1), 0 2px 15px 0 rgba(0,0,0,0.05);
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.6s cubic-bezier(0.5, -0.5, 0.3, 1.4), opacity 0.6s ease;
  transition: all 0.6s cubic-bezier(0.5, -0.5, 0.3, 1.4), opacity 0.6s ease;
}
.notifier.shown {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.notifier.shown:hover {
  opacity: 1;
}
.notifier-close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 16px;
  height: 16px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #aaa;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.notifier-close:hover,
.notifier-close:focus {
  opacity: 1;
  color: #000;
  background: #eee;
}
.notifier-img {
  float: left;
  margin-right: 8px;
  vertical-align: middle;
}
.notifier-img .img {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}
.notifier-title {
  margin: 3px 0 5px;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
}
.notifier-body {
  font-size: 13px;
}
.notifier.info {
  border-left-color: #cb2529;
  border-left-color: var(--widget-main-color);
}
.notifier.success {
  border-left-color: #cb2529;
  border-left-color: var(--widget-main-color);
}
.notifier.warning {
  border-left-color: #cb2529;
  border-left-color: var(--widget-main-color);
}
.notifier.danger {
  border-left-color: #cb2529;
  border-left-color: var(--widget-main-color);
}
.input-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  margin: 0 auto;
}
.input-holder label {
  cursor: pointer;
}
.input-holder .vote-radio,
.input-holder .tick-radio,
.input-holder .vote-checkbox {
  left: -9999px;
  position: absolute;
}
.input-holder .vote-radio:not(:checked) + label::after,
.input-holder .tick-radio:not(:checked) + label::after,
.input-holder .vote-checkbox:not(:checked) + label::after {
  opacity: 0;
  -webkit-transform: scale(0) translateY(-50%);
          transform: scale(0) translateY(-50%);
}
.input-holder .vote-radio:checked + label::after,
.input-holder .tick-radio:checked + label::after,
.input-holder .vote-checkbox:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1) translateY(-50%);
          transform: scale(1) translateY(-50%);
}
.input-holder .vote-radio + label,
.input-holder .tick-radio + label,
.input-holder .vote-checkbox + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  width: calc(100% - 130px);
}
.input-holder .vote-radio + label::before,
.input-holder .tick-radio + label::before,
.input-holder .vote-checkbox + label::before,
.input-holder .vote-radio + label::after,
.input-holder .tick-radio + label::after,
.input-holder .vote-checkbox + label::after {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform-origin: top;
          transform-origin: top;
}
.input-holder .vote-radio + label::before,
.input-holder .tick-radio + label::before,
.input-holder .vote-checkbox + label::before {
  content: '';
  background: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  display: inline-block;
  margin: 0 5px;
  line-height: 24px;
  color: #7e7e7e;
  font-size: 14px;
  border: 1px solid #ababab;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.input-holder .vote-checkbox + label::after,
.input-holder .vote-radio + label::after {
  content: '';
  background: #cb2529;
  background: var(--widget-main-color);
  width: 12px;
  height: 12px;
  position: absolute;
  left: 9px;
  border-radius: 50%;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.input-holder .vote-checkbox:checked + label::before,
.input-holder .vote-radio:checked + label::before {
  border-color: #cb2529;
  border-color: var(--widget-main-color);
}
.input-holder .vote-checkbox:checked + label::after,
.input-holder .vote-radio:checked + label::after {
  opacity: 1;
}
.input-holder .vote-checkbox + label::before,
.input-holder .vote-checkbox + label::after {
  border-radius: 0;
}
.input-holder .tick-radio:checked + label::before {
  content: '\e805';
  font-family: 'fontello';
}
.input-holder .tick-radio + label:first-of-type::before {
  margin-left: 0;
}
.input-holder .tick-radio + label::before {
  width: 24px;
  height: 24px;
}
.input-holder input {
  padding: 12px 0;
  background: transparent;
  border: 0;
  outline: 0;
  max-width: 100%;
}
.input-holder input::-webkit-input-placeholder {
  font-weight: 300;
  width: 100%;
}
.input-holder input::-moz-placeholder {
  font-weight: 300;
  width: 100%;
}
.input-holder input:-ms-input-placeholder {
  font-weight: 300;
  width: 100%;
}
.input-holder input::-ms-input-placeholder {
  font-weight: 300;
  width: 100%;
}
.input-holder input::placeholder {
  font-weight: 300;
  width: 100%;
}
.input-holder .btn-search {
  font-size: 30px;
  padding: 0;
}
.input-holder .btn-search i {
  pointer-events: none;
}
:root {
  --widget-main-color: #cb2529;
  --common-red: #cb2529;
  --common-blue: #579fd4;
  --common-grey: #bcbcbc;
  --border-grey: #e4e4e4;
  --sub-grey: #525252;
  --btn-grey: #c7c7c7;
  --bg: #efefef;
}
.discuss-board {
  overflow: visible;
  margin-bottom: 0;
  line-height: 1.5;
}
.discuss-board .input-field {
  margin-bottom: 30px;
}
.discuss-board .btn--selection i {
  color: #bcbcbc;
  color: var(--common-grey);
}
.discuss-board .btn-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
  margin-right: 20px;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .discuss-board .btn-comment {
    margin-right: 10px;
    font-size: 13px;
  }
}
.discuss-board .btn-comment i {
  font-size: 16px;
}
.discuss-board .btn-comment:hover {
  color: #cb2529;
  color: var(--common-red);
}
.discuss-board .btn-comment--reply {
  padding: 5px 10px;
  margin: 5px 0;
  background-color: #579fd4;
  background-color: var(--common-blue);
  font-size: 14px;
}
.discuss-board .btn-comment--post {
  padding: 10px 30px;
  border-radius: 4px;
}
.discuss-board__list {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
  border-bottom: 1px solid var(--border-grey);
}
.discuss-board__list:last-of-type {
  border-bottom-color: transparent;
}
.discuss-board__content {
  padding: 50px;
  border-bottom: 1px solid var(--bg-grey-border);
  background: #fff;
}
.discuss-board__content.discuss-board__content--loading,
.discuss-board__content:empty {
  position: relative;
}
.discuss-board__content.discuss-board__content--loading::after,
.discuss-board__content:empty::after,
.discuss-board__content.discuss-board__content--loading::before,
.discuss-board__content:empty::before {
  display: -ms-grid;
  display: grid;
  content: '';
  font-size: 12px;
  opacity: 0.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  place-items: center;
}
.discuss-board__content.discuss-board__content--loading::before,
.discuss-board__content:empty::before {
  width: 100%;
  height: 100%;
  background: #fff;
}
.discuss-board__content:empty::before {
  display: -ms-grid;
  display: grid;
  content: '目前尚未有留言，成為第一位留言吧';
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  place-items: center;
}
.discuss-board__content.discuss-board__content--loading {
  cursor: not-allowed;
}
.discuss-board__content.discuss-board__content--loading::before {
  content: '';
}
.discuss-board__content.discuss-board__content--loading::after {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
  content: '\e834';
  font-family: 'fontello';
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .discuss-board__content {
    padding: 30px 25px;
    margin: 15px 0 0;
  }
}
.discuss-board__rules {
  overflow: hidden;
  font-size: 13px;
  line-height: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
.rules-open .discuss-board__rules {
  line-height: 1.6;
  opacity: 1;
  visibility: visible;
}
.discuss-board__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.discuss-board__textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #c7c7c7;
  border: 1px solid var(--btn-grey);
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  resize: vertical;
}
@media screen and (max-width: 1297px) {
  .discuss-board__textarea {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .discuss-board__textarea {
    font-size: 15px;
  }
}
.discuss-board__textarea:focus,
.discuss-board__textarea:active {
  outline-color: #c7c7c7;
  outline-color: var(--btn-grey);
}
.discuss-board__textarea::-webkit-input-placeholder {
  color: #9e9e9e;
}
.discuss-board__textarea::-moz-placeholder {
  color: #9e9e9e;
}
.discuss-board__textarea:-ms-input-placeholder {
  color: #9e9e9e;
}
.discuss-board__textarea::-ms-input-placeholder {
  color: #9e9e9e;
}
.discuss-board__textarea::placeholder {
  color: #9e9e9e;
}
.discuss-board__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}
.discuss-board__header .sort-box {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 0;
  padding: 10px 5px;
  background: #fff;
  display: none;
  min-width: 150px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.discuss-board__header .sort-box__btn {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}
.discuss-board__header .sort-box__btn:hover {
  color: #cb2529;
  color: var(--common-red);
}
.discuss-board__header .sort-box__btn.active {
  color: #cb2529;
  color: var(--common-red);
}
.discuss-board__header .sort-box__btn.active::before {
  color: #cb2529;
  color: var(--common-red);
}
.discuss-board__header .sort-box--open {
  display: block;
}
.discuss-board__header .sort-box__btn {
  padding-left: 5px;
}
.discuss-board__total {
  color: #000;
}
.abuse-info .input-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.abuse-info .input-holder label {
  display: inline-block;
  margin: 0 4px 8px;
  background: #efefef;
  background: var(--bg);
}
.abuse-info .input-holder span {
  display: inline-block;
  padding: 8px;
  border-radius: 2px;
}
.abuse-info .input-holder input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.abuse-info .input-holder input:checked + span {
  background-color: #cb2529;
  background-color: var(--common-red);
  color: #fff;
}
.discuss-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 13px;
}
.discuss-details__thumb {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #cb2529;
  background-color: var(--common-red);
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .discuss-details__thumb {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.discuss-details__reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0;
}
.discuss-details__reply:empty {
  display: none;
}
.discuss-details__reply .discuss-details__content {
  padding-left: 60px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .discuss-details__reply .discuss-details__content {
    padding-left: 20px;
  }
}
.discuss-details__reply .discuss-details__content:first-child {
  margin-top: 40px;
}
.discuss-details__reply .btn--reply {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  color: #579fd4;
  color: var(--common-blue);
  font-size: 15px;
  -webkit-transition: none;
  transition: none;
}
[v-cloak] .discuss-details__reply .btn--reply {
  display: none;
}
.discuss-details__reply .btn--reply::before {
  background: #fff;
}
.discuss-details__reply .btn--reply:hover {
  color: #2b72a7;
}
.discuss-details__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.discuss-details__image {
  display: none;
  font-size: 0;
}
.discuss-details__image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .discuss-details__image img {
    width: 40px;
    height: 40px;
  }
}
.discuss-details__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 10px 5px 20px;
}
@media screen and (max-width: 767px) {
  .discuss-details__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}
.discuss-details__text p {
  width: 100%;
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.5;
  word-break: break-all;
}
.discuss-details__text p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1297px) {
  .discuss-details__text p {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .discuss-details__text p {
    font-size: 15px;
  }
}
.discuss-details__tools {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #525252;
  color: var(--sub-grey);
  font-size: 15px;
}
.discuss-details__tools .like {
  font-family: Arial, Helvetica, sans-serif;
}
.discuss-details__tools .discuss-board__reply {
  display: none;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.discuss-details__tools .discuss-board__reply.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.discuss-details__tools .discuss-board__textarea {
  margin: 20px 0 0;
  font-size: 18px;
}
@media screen and (max-width: 1297px) {
  .discuss-details__tools .discuss-board__textarea {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .discuss-details__tools .discuss-board__textarea {
    font-size: 15px;
  }
}
.discuss-details__author {
  font-size: 18px;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  .discuss-details__author {
    margin-right: 0;
    font-size: 15px;
  }
}
.discuss-details__author time {
  display: inline-block;
  margin: 0 5px;
  color: #999;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .discuss-details__author time {
    font-size: 13px;
  }
}
.discuss-details__author a {
  color: #579fd4;
  color: var(--common-blue);
}

